<h1>Blackjack</h1>
<form action="post_name" method="post">
	<dd>
		<dt>
			<strong>What's your name?</strong> 
		</dt>
		<dd>
			<input type="text" name="player_name" id="player_name" minlength="1" />
			<input type="submit" class="button"/>
		</dd>
</form>
